##############################################################
#
# List of approvers/reviewers for llm_seminar_series repo
#
##############################################################
# 
#
# These owners will be the default owners for everything in the repo.
* @hetulvp